body, html{

height:100%;
width:100%
}
 
body{
     overflow-x: hidden;
     background-color:  #424242;
 
}	


.jumbotron{
      margin-top: 10px;
    margin-bottom: 0px;
	height: 100%;
    width:100%;
}


.col-lg{
	color: white;
	
}

.backgroundimg{
    height: 100%;
    width:100%;
	 display: block;
	margin-left: auto;
	margin-right: auto;
    background-size: cover;
}


.fakeimg{
	background-image:url(../foto/background.jpg);
	background-size: cover;
	height:89.6%;
    width:100%;
     background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff; 
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:#000000;
}

footer{
    background-color:  #0066ff;
    color:#ffffff;
    text-align: center;
}